.navbar {
    width: fill;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FCB8D5;
    position: fixed;
    z-index: 1;
    padding: 1rem 2rem;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo img {
    width: 80px;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    list-style: none;
}

.navbar-links li {
    margin: 0 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}

.navbar-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
}

.navbar-links li:hover {
    color: white;
}

.nav_title {
    font-family: 'Permanent Marker', cursive;
};

